In [1]:
#pandas 불러오기

import pandas as pd

In [5]:
#데이터 불러오기

chicken07 = pd.read_csv('./data/chicken_07.csv')

In [6]:
chicken07

            기준일 요일 성별    연령대     시도  시군구  읍면동  업종  통화건수
0      20190701  월  남    30대  서울특별시  강남구  논현동  치킨     8
1      20190701  월  여    30대  서울특별시  강남구  개포동  치킨    10
2      20190701  월  여    30대  서울특별시  강남구  논현동  치킨    16
3      20190701  월  여    30대  서울특별시  강남구  수서동  치킨     5
4      20190701  월  여    30대  서울특별시  강남구  대치동  치킨     5
...         ... .. ..    ...    ...  ...  ...  ..   ...
26374  20190731  수  여  60대이상  서울특별시  중랑구  면목동  치킨    20
26375  20190731  수  여    30대  서울특별시  중랑구  중화동  치킨     5
26376  20190731  수  여    10대  서울특별시  중랑구  면목동  치킨     5
26377  20190731  수  여  60대이상  서울특별시  중랑구  망우동  치킨     5
26378  20190731  수  남    40대  서울특별시  중랑구  면목동  치킨    22

[26379 rows x 9 columns]

In [7]:
chicken07.tail(5)

            기준일 요일 성별    연령대     시도  시군구  읍면동  업종  통화건수
26374  20190731  수  여  60대이상  서울특별시  중랑구  면목동  치킨    20
26375  20190731  수  여    30대  서울특별시  중랑구  중화동  치킨     5
26376  20190731  수  여    10대  서울특별시  중랑구  면목동  치킨     5
26377  20190731  수  여  60대이상  서울특별시  중랑구  망우동  치킨     5
26378  20190731  수  남    40대  서울특별시  중랑구  면목동  치킨    22

In [9]:
chicken07.describe() #설명보기

#갯수, 평균, 표준편차, 표준편차 25%, 50%, 75%, 최소값, 최대값

                기준일          통화건수
count  2.637900e+04  26379.000000
mean   2.019072e+07     12.346109
std    8.869258e+00     14.961707
min    2.019070e+07      5.000000
25%    2.019071e+07      5.000000
50%    2.019072e+07      5.000000
75%    2.019072e+07     14.000000
max    2.019073e+07    279.000000

In [14]:
#성별 데이터 살펴보기

set(chicken07['성별']), len(set(chicken07['성별']))

({'남', '여'}, 2)

In [17]:
set(chicken07['연령대']), len(set(chicken07['연령대']))

({'10대', '20대', '30대', '40대', '50대', '60대이상'}, 6)

In [21]:
set(chicken07['요일']), len(set(chicken07['요일']))

({'금', '목', '수', '월', '일', '토', '화'}, 7)

In [22]:
set(chicken07['시군구']), len(set(chicken07['시군구']))

({'강남구',
  '강동구',
  '강북구',
  '강서구',
  '관악구',
  '광진구',
  '구로구',
  '금천구',
  '노원구',
  '도봉구',
  '동대문구',
  '동작구',
  '마포구',
  '서대문구',
  '서초구',
  '성동구',
  '성북구',
  '송파구',
  '양천구',
  '영등포구',
  '용산구',
  '은평구',
  '종로구',
  '중구',
  '중랑구'},
 25)

In [23]:
chicken07

            기준일 요일 성별    연령대     시도  시군구  읍면동  업종  통화건수
0      20190701  월  남    30대  서울특별시  강남구  논현동  치킨     8
1      20190701  월  여    30대  서울특별시  강남구  개포동  치킨    10
2      20190701  월  여    30대  서울특별시  강남구  논현동  치킨    16
3      20190701  월  여    30대  서울특별시  강남구  수서동  치킨     5
4      20190701  월  여    30대  서울특별시  강남구  대치동  치킨     5
...         ... .. ..    ...    ...  ...  ...  ..   ...
26374  20190731  수  여  60대이상  서울특별시  중랑구  면목동  치킨    20
26375  20190731  수  여    30대  서울특별시  중랑구  중화동  치킨     5
26376  20190731  수  여    10대  서울특별시  중랑구  면목동  치킨     5
26377  20190731  수  여  60대이상  서울특별시  중랑구  망우동  치킨     5
26378  20190731  수  남    40대  서울특별시  중랑구  면목동  치킨    22

[26379 rows x 9 columns]

In [28]:
chicken08 = pd.read_csv('./data/chicken_08.csv')
chicken09 = pd.read_csv('./data/chicken_09.csv')

In [31]:
chicken09

            기준일 요일 성별  연령대     시도  시군구  읍면동  업종  통화건수
0      20190901  일  여  30대  서울특별시  강남구  개포동  치킨     5
1      20190901  일  남  30대  서울특별시  강남구  논현동  치킨    20
2      20190901  일  남  30대  서울특별시  강남구  삼성동  치킨    20
3      20190901  일  남  30대  서울특별시  강남구  세곡동  치킨     5
4      20190901  일  남  30대  서울특별시  강남구  수서동  치킨     5
...         ... .. ..  ...    ...  ...  ...  ..   ...
24112  20190930  월  남  20대  서울특별시  중랑구  면목동  치킨     8
24113  20190930  월  여  40대  서울특별시  중랑구  신내동  치킨     5
24114  20190930  월  여  40대  서울특별시  중랑구  면목동  치킨    19
24115  20190930  월  남  40대  서울특별시  중랑구  신내동  치킨     5
24116  20190930  월  남  40대  서울특별시  중랑구  중화동  치킨     5

[24117 rows x 9 columns]

In [32]:
#데이터 합치기

chicken_data = pd.concat([chicken07, chicken08, chicken09])

In [33]:
 chicken_data

            기준일 요일 성별  연령대     시도  시군구  읍면동  업종  통화건수
0      20190701  월  남  30대  서울특별시  강남구  논현동  치킨     8
1      20190701  월  여  30대  서울특별시  강남구  개포동  치킨    10
2      20190701  월  여  30대  서울특별시  강남구  논현동  치킨    16
3      20190701  월  여  30대  서울특별시  강남구  수서동  치킨     5
4      20190701  월  여  30대  서울특별시  강남구  대치동  치킨     5
...         ... .. ..  ...    ...  ...  ...  ..   ...
24112  20190930  월  남  20대  서울특별시  중랑구  면목동  치킨     8
24113  20190930  월  여  40대  서울특별시  중랑구  신내동  치킨     5
24114  20190930  월  여  40대  서울특별시  중랑구  면목동  치킨    19
24115  20190930  월  남  40대  서울특별시  중랑구  신내동  치킨     5
24116  20190930  월  남  40대  서울특별시  중랑구  중화동  치킨     5

[76495 rows x 9 columns]

In [35]:
#인덱스 수정

chicken_data = chicken_data.reset_index(drop = True)
#기존의 인덱스를 drop하고, reset_index 실행.

chicken_data

            기준일 요일 성별  연령대     시도  시군구  읍면동  업종  통화건수
0      20190701  월  남  30대  서울특별시  강남구  논현동  치킨     8
1      20190701  월  여  30대  서울특별시  강남구  개포동  치킨    10
2      20190701  월  여  30대  서울특별시  강남구  논현동  치킨    16
3      20190701  월  여  30대  서울특별시  강남구  수서동  치킨     5
4      20190701  월  여  30대  서울특별시  강남구  대치동  치킨     5
...         ... .. ..  ...    ...  ...  ...  ..   ...
76490  20190930  월  남  20대  서울특별시  중랑구  면목동  치킨     8
76491  20190930  월  여  40대  서울특별시  중랑구  신내동  치킨     5
76492  20190930  월  여  40대  서울특별시  중랑구  면목동  치킨    19
76493  20190930  월  남  40대  서울특별시  중랑구  신내동  치킨     5
76494  20190930  월  남  40대  서울특별시  중랑구  중화동  치킨     5

[76495 rows x 9 columns]